# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/

# =========================
# Test / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml

# =========================
# Playwright
# =========================
playwright-report/
test-results/
blob-report/

# =========================
# Robot Framework
# =========================
output.xml
log.html
report.html

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# tmp files
# img filés
# =========================
*.tmp
*.png
*.jpg
img.*
tmp.*
tmp
img